@import "tailwindcss";

:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-ibm-plex-serif: 'IBM Plex Serif', serif;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-ibm-plex-serif);
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: var(--font-space-grotesk);
}
